<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
		Add a logger config to see logging messages.
		- For more detailed logs, set values to "FINEST"
		- For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
	 -->
    <bean id="myLoggerConfig" class="com.tg.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!-- load the properties file -->
    <context:property-placeholder location="classpath:sport.properties.txt"/>

    <!-- Define your beans here -->

    <bean id="myFortune" class="com.tg.HappyFortuneService">
    </bean>

    <bean id="myBaseballCoach" class="com.tg.BaseballCoach">
        <!-- set up constructor injection -->
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myTrackCoach" class="com.tg.TrackCoach">
        <!-- set up constructor injection -->
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myFootballCoach" class="com.tg.FootballCoach">
        <!-- set up setter injection -->
        <!-- with name="fortuneService" we automatically call "setFortuneService()" method -->
        <property name="fortuneService" ref="myFortune"/>

        <!-- inject literal values -->
        <property name="emailAddress" value="${myProperty.email}"/> <!-- with this name, we call "setEmailAddress()" -->
        <property name="team" value="${myProperty.team}"/> <!-- with this name, we call "setTeam()" -->
    </bean>

</beans>





